
.containerFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerBorder {
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 2px 2px 0px 0px rgba(120, 120, 120, 0.5);
    padding: 10px;
    width: 50%;
}

.containerBorder h1{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.containerFlex span {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 13pt;
    font-weight: bold;
}

.containerFlex input {
    width: 50%;
    height: 30px;
    text-align: center;
    font-size: 13pt;
}

.logo-image img{
    height: 50px;
    width: auto;
    margin-top: 10px;
}

@media (max-width:500px){
    .containerBorder{
        width: 90%;
    }

    .containerFlex input {
        width: 80%;
    }
}